<div class="large-6 small-12 large-centered columns">
  <%= form_for @club do |f| %>

  <div class="club-form-errors">
    <% if @club.errors.any? %>
    <h3>Book Club not created.</h3>
    <% @club.errors.full_messages.each do |msg| %>
    <p><%= msg %></p>
    <% end %>
    <% end %>
  </div>

  <%= f.label :name, "Book Club Name" %>
  <br>
  <%= f.text_field :name, size: 80 %>
  <br>
  <%= f.label :description %>
  <br>
  <%= f.text_field :description, size: 80 %>
  <br>
  <%= f.label :current_book, "Currently Reading (You can pick this later)" %>
  <br>
  <%= f.text_field :current_book,
      value: (@club.current_book.title unless @club.current_book.nil?),
      size: 80 %>
  <br>


  <%= f.label :visibility %>
  <%= f.select(:visibility,
  options_for_select([["Public", "public"], ["Private", "private"]])) %>

  <%= f.submit %>
  <% end %>

</div>
