<div class="clubs-container">
  <div class="row">
    <div class="small-12 columns">
      <% if @query %>
        <h1>Results for '<%= @query %>'</h1>
      <% else %>
        <h1>All Clubs</h1>
      <% end %>
      <div id="search">
        <%= form_tag clubs_path, method: :get do %>
          <%= label_tag :query, "Search Book Clubs" %>
          <br>
          <%= text_field_tag :query %>
          <br>
          <%= submit_tag "Search", class: "create-button" %>
        <% end %>
      </div>
      <% if current_user %>
        <p id="create">
          <%= link_to fa_icon("book lg", text:"Create New Book Club"),
          new_club_path, class: "create-button" %>
        </p>
      <% end %>
      <% @clubs.each do |club| %>
        <div class="club">
          <h3><%= link_to club.name, club %></h3>
          <p><%= club.description %></p>
          <% if club.current_book.nil? %>
            <p>Not reading anything right now.</p>
          <% else %>
            <p>Currently Reading: <%= club.current_book.title %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
