<div class="clubs-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= @club.name %></h1>
      <div class="row">
        <div class="small-10 columns club-page-left">
          <h2><%= @club.description %></h2>
          <% unless @club.users.include? current_user %>
            <%= form_for Membership.new do |f| %>
              <%= f.hidden_field :club_id, value: @club.id %>
              <%= f.submit "Join this Book Club", id: "join-club" %>
            <% end %>
          <% end %>
          <h4>Organizer: <%= @club.organizer.name %></h4>
          <h4>Members:</h4>
          <% @club.users.each do |user| %>
            <p><%= user.name %></p>
          <% end %>
        </div>
        <div class="small-2 columns club-page-right">
          <% if @club.current_book.nil? %>
            <h4>
              In between books right now. (Organizer can pick a book in club Settings.)
            </h4>
          <% else %>
            <h4>Reading: </h4>
            <% if @club.current_book.medium_image.nil? %>
              <p><%= fa_icon("book 5x") %></p>
            <% else %>
              <p><%= image_tag(@club.current_book.medium_image) %></p>
            <% end %>
            <p><%= @club.current_book.title %></p>
            <small>
              <% if !@club.current_book.amazon_url.nil? %>
                <%= link_to @club.current_book.amazon_url, target: "_blank" do %>
                  I need the book <%= fa_icon("external-link") %>
              <% end %>
              <% end %>
            </small>
          <% end %>
        </div>
      </div>
      <% if @club.users.include? current_user %>
      <h4 id="club-discussion">Discuss</h4>
        <%= form_for([@club, @comment]) do |f| %>
          <% if !@errors.nil? %>
            <% @errors.each do |msg| %>
            <div>
              <%= msg %>
            </div>
            <% end %>
          <% end %>
          <div class="row">
            <div class="small-3 columns">
              <%= f.select(:kind, options_for_select([["Comment", "remark"],
              ["Discussion Question", "question"]])) %>
            </div>
          </div>
          <%= f.text_area :content, size: "80x5", id: "comment-content" %>
          <br>
          <%= f.submit %>
        <% end %>
      <% end %>
      <% unless @comments.nil? %>
        <div id="club-comments">
          <h4>
            <% if !@club.current_book.nil? %>
              Currently showing discussion related to <%= @club.current_book.title %>.
            <% end %>
            <%= link_to "Discussion history for #{@club.name}", club_comments_path(@club) %>
          </h4>
          <%= render @comments %>
        </div>
      <% end %>
      <% if @club.users.include?(current_user) &&
         @club.organizer != current_user %>
        <%= link_to fa_icon("frown-o", text: "Leave this Book Club"),
            @membership, method: :delete, data: { confirm: "Are you sure?" },
            class: "delete-button" %>
      <% end %>
      <% if !@club.current_book.nil? %>
        <%= link_to book_path(@club.current_book) do %>
          <h4>See Discussion Questions related to <%= @club.current_book.title %></h4>
        <% end %>
      <% end %>
      <% if @club.organizer == current_user %>
        <h4>
          <%= link_to fa_icon("wrench", text: "Settings"),
          edit_club_path(@club) %> (You're the organizer)
        </h4>
      <% end %>
    </div>
  </div>
</div>
