<div class="clubs-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= @club.name %></h1>
      <h4><%= @club.description %></h4>
      <% unless @club.users.include? current_user %>
        <%= form_for Membership.new do |f| %>
          <%= f.hidden_field :club_id, value: @club.id %>
          <%= f.submit "Join this Book Club", id: "join-club" %>
        <% end %>
      <% end %>
      <h4>Organizer: <%= @club.organizer.name %></h4>
      <h4>Members:</h4>
      <% @club.users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
      <h4>Discussion:</h4>
        <% if @club.users.include? current_user %>
          <%= form_for([@club, @comment]) do |f| %>
            <% unless @errors.nil? %>
              <% @errors.each do |msg| %>
              <div>
                <%= msg %>
              </div>
              <% end %>
            <% end %>
            <div class="row">
              <div class="small-3 columns">
                <%= f.select(:kind, options_for_select([["Comment", "remark"],
                ["Discussion Question", "question"]])) %>

              </div>
            </div>
            <%= f.text_area :content, size: "80x5", id: "comment-content" %>
            <br>
            <%= f.submit %>
          <% end %>
        <% end %>
      <% unless @comments.nil? %>
        <div id="club-comments">
          <%= render @comments %>
        </div>
      <% end %>
      <% if @club.users.include?(current_user) &&
         @club.organizer != current_user %>
        <%= link_to "Leave this Book Club", @membership,
            method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
      <% if @club.organizer == current_user %>
        <h4>
          <%= link_to fa_icon("wrench", text: "Settings"),
          edit_club_path(@club) %> (You're the organizer)
        </h4>
      <% end %>
    </div>
  </div>
</div>
