<p class="comment <%= comment.kind %>">
  <% if comment.kind == "remark" %>
    <%= comment.user.name %>:
  <% elsif comment.kind == "question" %>
    <span class="discussion"><%= fa_icon("question-circle") %></span>
  <% end %>
  <%= comment.content %>
  <span class="comment-time">
    <%= time_ago_in_words(comment.created_at) %> ago
  </span>
  <% if comment.user == current_user %>
  <%= link_to fa_icon("times"),
      club_comment_path(comment.club, comment), method: :delete,
      data: { confirm: "Are you sure?" },
      id: "delete-comment" %>
  <% end %>
</p>
