<div class="profile-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= @user.name %></h1>

      <h2>Current Clubs</h2>
      <% @user.clubs.each do |club| %>
        <h4><%= link_to club.name, club %></h4>
      <% end %>

      <h2>Recent Comments</h2>
      <% @user.comments.each do |comment| %>
        <p>
          <%= fa_icon("comment", class: "profile-comment") %>
          <%= comment.content[0..100] %> ... in <%= comment.club.name %>
        </p>
      <% end %>
      <h2>Favorite Books</h2>
      <h2>Favorite Authors</h2>
    </div>
  </div>
</div>
