<div class="profile-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= @user.name %></h1>

      <h2>Current Clubs</h2>
      <% @user.clubs.each do |club| %>
        <h4 class="profile-club">
          <% if club.organizer == @user %>
            <%= link_to fa_icon("user", text: club.name), club %>
          <% else %>
            <%= link_to fa_icon("bookmark", text: club.name), club %>
          <% end %>
        </h4>
      <% end %>

      <h2>Recent Comments</h2>
      <% @user.comments.each do |comment| %>
        <p>
          <%= fa_icon("quote-left", class: "profile-#{comment.kind}") %>
          <%= comment.content[0..100] %> ...
          <%= fa_icon("quote-right", class: "profile-#{comment.kind}") %>
          in <%= comment.club.name %>
        </p>
      <% end %>
      <h2>Favorite Books</h2>
      <h2>Favorite Authors</h2>
    </div>
  </div>
</div>
