<div class="home-page-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>Keep your club on the same page.</h1>
      <h2>GatsBee can help with your book club.</h2>
    </div>
  </div>

  <div class="row buttons">
    <button class="large-4 small-12 large-offset-1 columns">
      <%= link_to "FIND A CLUB", clubs_path %>
    </button>
    <button class="large-4 small-12 large-offset-2 columns end">
      <%= link_to "SIGN UP WITH GOOGLE", "/auth/google_oauth2" %>
    </button>
  </div>

  <div class="row stories">
    <div class="small-12 columns">
      <ul class="small-block-grid-3">
        <li>
          <p id="discover">
            Discover Books
            <br>
            <%= fa_icon("book 5x") %>
            <br>
            <%= fa_icon("arrow-circle-down 2x") %>
          </p>
        </li>
        <li>
          <p id="find">
            Organize Meetings
            <br>
            <%= fa_icon("coffee 5x") %>
            <br>
            <%= fa_icon("arrow-circle-down 2x") %>
          </p>
        </li>
        <li>
          <p id="engage">
            Engage in Discussion
            <br>
            <%= fa_icon("comments 5x") %>
            <br>
            <%= fa_icon("arrow-circle-down 2x") %>
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="story1">
  <div class="row">
    <ul class="small-block-grid-5">
      <% Book.top_five.each do |book| %>
        <li>
          <%= image_tag book.medium_image %>
          <p><%= pluralize(book.clubs_count, "club")%> reading</p>
        </li>
      <% end %>
    </ul>
  </div>
  <h1>Discover books</h1>
  <h3>from Amazon and other clubs on GatsBee</h3>
</div>
<div id="story1A">
</div>
<div id="story2">
  <h1 id="calendar-icon"><%= fa_icon("calendar 5x") %></h1>
  <div id="demo-box">
    <h4 class="demo-box-times" id="parsetime1">
      <%= Chronic.parse("Next Monday at noon").localtime.strftime("%A, %B %d, %Y, %l:%M %p") %>
    </h4>
    <h4 class="demo-box-times" id="parsetime2">
      <%= Chronic.parse("Tomorrow, seven in the evening").localtime.strftime("%A, %B %d, %Y, %l:%M %p") %>
    </h4>
    <h4 class="demo-box-times" id="parsetime3">
      <%= Chronic.parse("Two Weeks Hence").localtime.strftime("%A, %B %d, %Y, %l:%M %p") %>
    </h4>
  </div>
  <h1 id="arrow-icon"><%= fa_icon("reply 5x") %></h2>
  <div id="demo-input">
    <h4 class="demo-input-times" id="inputtime1">Next Monday at noon</h4>
    <h4 class="demo-input-times" id="inputtime2">Tomorrow, seven in the evening</h4>
    <h4 class="demo-input-times" id="inputtime3">Two Weeks Hence</h4>
  </div>
  <h1 id="organize">Organize Meetings</h1>
  <h3>with Google Calendar integration and natural language processing</h3>
</div>
<div id="story2A">
</div>
<div id="story3">
  <div class="row">
    <div class="large-6 small-12 columns discussion-points">
      <h3 class="discuss-odd">Mr. Bennet: Yea or Nay?</h4>
      <h3 class="discuss-even">Was Javert a jerk or just doing his job?</h4>
      <h3 class="discuss-odd">Were the liaiasons really that dangerous?</h4>
      <h3 class="discuss-even">Who is al? Why is his name in lowercase?</h4>
    </div>
    <div class="large-6 small-12 columns">
      <h1 id="bee"><%= fa_icon("forumbee 5x") %></h1>
      <h1>Engage in Discussion</h1>
    </div>
  </div>
</div>
<div id="story3A">
</div>
