<div class="home-page-container">
  <div class="row">
    <div class="small-12 columns">
      <h1>Keep your club on the same page.</h1>
      <h2>GatsBee can help with your book club.</h2>
    </div>
  </div>

  <div class="row buttons">
    <button class="small-4 small-offset-1 columns">
      <%= link_to "FIND A CLUB", clubs_path %>
    </button>
    <button class="small-4 small-offset-2 columns end">
      <%= link_to "SIGN UP WITH GOOGLE", "/auth/google_oauth2" %>
    </button>
  </div>

  <div class="row stories">
    <div class="small-12 columns">
      <ul class="small-block-grid-3">
        <li class="clearfix">
          <p>Discover Books <br><%= fa_icon("book 5x") %></p>
        </li>
        <li><p>Find Outings<br><%= fa_icon("coffee 5x") %></p></li>
        <li><p>Engage in Discussion<br><%= fa_icon("comments 5x") %></p></li>
      </ul>
    </div>
  </div>
</div>

<div class="story1">
    <h1>Discover books</h1>
</div>
<div class="story1A">
</div>
<div class="story2">
    <h1>Find Outings</h1>
</div>
<div class="story2A">
</div>
<div class="story3">
    <h1>Engage in Discussion</h1>
</div>
<div class="story3A">
</div>
