<div class="book-container">
  <div class="row">
    <div class="small-12 columns">
      <h1><%= image_tag @book.medium_image %></h1>
      <h1><%= @book.title %></h1>
      <h1><%= pluralize(@book.clubs.count, "book club") %> on GatsBee reading this book.</h1>
      <% @book.comments.each do |comment| %>
        <% if comment.kind == "question" %>
          <h2>
            <%= fa_icon("question-circle") %> <%= comment.content %>
          </h2>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <h2>Similar Books from Amazon:</h2>
  </div>
  <div class="row">
    <div class="small-12 columns">
      <% if @similar_books.nil? %>
        <p>Nothing similar on Amazon...</p>
      <% else %>
        <ul class="small-block-grid-4">
          <% @similar_books.each do |book| %>
            <li>
              <p><%= image_tag book[:image_url] %></p>
              <p><%= book[:title] %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
  <div class="row">

    <h2>Here's what else is popular on GatsBee right now:</h2>
    <ul class="small-block-grid-5">
      <% Book.top_five.each do |book| %>
        <li>
          <div>
            <%= image_tag book.medium_image %>
            <p><%= book.title %></p>
            <p><%= pluralize(book.clubs_count, "club")%> reading</p>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
