<header>
  <div class="row">
    <div class="small-3 columns">
      <h1><%= link_to "GatsBee", root_path %></h1>
    </div>

    <% if current_user %>
      <div class="small-4 columns">
        <ul class="small-block-grid-3">
          <li class="option"><p><%= link_to "Clubs", clubs_path %></p></li>
          <li class="option"><p><%= link_to "Profile", profile_path %></p></li>
          <li class="option"><p><%= link_to "Sign Out", signout_path %></p></li>
        </ul>
      </div>
    <% else %>
      <div class="large-1 small-3 columns">
        <ul class="small-block-grid-1">
          <li class="option">
            <p>
              <%= link_to "Sign in", "/auth/google_oauth2" %>
            </p>
          </li>
        </ul>
      </div>
    <% end %>

  </div>
</header>
